* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --primary-color: #f90a39;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}

html {
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(33, 16, 77, 0.8) 50%, transparent 50%);
    z-index: -1;
}

body {
    background: url('./img/background.png') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}




.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
   width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.login-logo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: 100px;
}

.login-logo img {
    width: 150px;
    height: auto;
    margin-bottom: 10px; 
    
}

.login-logo .logo-text {
    color: #fff;
    font-size: 20px;
    font-weight:bolder;
    text-align: center;
}



.login-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 400px;
    
    
}

.login-form h1{
    text-align: center;
    margin-bottom: 20px;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
    
}

.input-field i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #999;
}

.input-field input{
    width: calc(100% - 40px);
    padding: 10px 15px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.account-icon,
.lock-icon {
    font-size: 24px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.toggle-password {
    font-size: 24px;
    color: #999;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}


button{
    
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3c91e6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #2a6ea9;
}

button:active{
    background-color: #19537f;
}